<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/frontEnd :: head(~{::title}, ~{::links})"></head>
    <body>
        <header th:replace="layout/frontEnd :: header"></header>
        <main class="container-fluid">
            <div id="registrar">
                <form th:action="@{/formularios/editarCandidato}" class="row g-3" method="POST" enctype="multipart/form-data" >
                    <div class="col-md-6" >
                        <label for="id" class="form-label">Id:</label>
                        <input type="text" name="id" th:value="${candidato.id}"  class="form-control" id="inputName" readonly="true">

                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Nombre:</label>
                        <input type="text" th:value="${candidato.nombre}" name="nombre" class="form-control" id="inputName">
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('nombre')}" th:text="${errors.nombre}"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email:</label>
                        <input type="email" th:value="${candidato.correo}" name="correo"  class="form-control" id="inputEmail4">
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('correo')}" th:text="${errors.correo}"></div>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Contacto:</label>
                        <input type="text" th:value="${candidato.contacto}" name="contacto"  class="form-control" id="inputName" >
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('contacto')}" th:text="${errors.contacto}"></div>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Tipo de documento:</label>
                        <input type="text" th:value="${candidato.tipoDoc}" name="tipoDoc"  class="form-control" id="inputName" >
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('tipoDoc')}" th:text="${errors.tipoDoc}"></div>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Numero de cedula:</label>
                        <input type="text" th:value="${candidato.doc}"  name="doc"  class="form-control" id="inputName" >
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('doc')}" th:text="${errors.doc}"></div>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Fecha de Expedicion:</label>
                        <input type="text" th:value="${candidato.fechaExpedicion}" name="fechaExpedicion"   class="form-control" id="inputName" >
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('fechaExpedicion')}" th:text="${errors.fechaExpedicion}"></div>
                    </div>
                    <div class="col-12">
                        <select name="wave" id="waveSelect" class="form-control">
                            <option value="" disabled selected>Seleccionar wave</option>
                            <option th:each="wave : ${listaWave}" th:value="${wave.id}" th:text="${wave.nombre}"></option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="inputName" class="form-label">Fecha de nacimiento(dd/mm/yyyy):</label>
                        <input type="text" th:value="${candidato.fechaNacimiento}" name="fechaNacimiento"  class="form-control" id="inputName">
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('fechaNacimiento')}" th:text="${errors.fechaNacimiento}"></div>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Archivos:</label>
                        <input type="file" name="archivos[]" class="form-control" id="inputZip" multiple>
                            <div class="alert alert-danger" th:if="${errors != null && errors.containsKey('archivos')}" th:text="${errors.archivos}"></div>
                    </div>
                    <div class="form-group">
                        <label>Encargado del proceso:</label>
                        <select name="equipo" id="equipo" class="form-control">
                            <option value="" disabled selected>Selecciona un encargado</option>
                            <option th:each="lista : ${listaEquipo}" th:value="${lista.id}" th:text="${lista.usuario}"></option>
                        </select>
                    </div>

                    <div class="col-12">
                        <button type="submit" onclick="" class="btn btn-primary">Editar</button>
                        <a  th:href="@{/listaCandidatos}" class="btn btn-danger">Regresar</a>
                    </div>
                    <div th:if="${mensaje != null}" 
                         th:class="'alert alert-' + ${clase} + ' alert-dismissable fade show'">
                        <span th:text="${mensaje}"></span> 
                        <button th:if="${mensaje != null}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                </form>
            </div>












            <footer th:replace="layout/frontEnd :: footer"></footer>

            <div th:replace="layout/frontEnd :: scripts"></div>
            <script th:inline="javascript">
                var clase = '/*[[${clase}]]*/';  // Enclosed in quotes
                var mensaje = '/*[[${mensaje}]]*/';  // Enclosed in quotes

                $(document).ready(function () {
                    if (clase == 'success') {
                        Swal.fire({
                            icon: "success",
                            title: "Exito",
                            text: mensaje

                        });
                    } else if (clase == "error") {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: mensaje

                        });
                    }
                });

            </script>
        </main>
    </body>
</html>
