<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/frontEnd :: head(~{::title}, ~{::links})"></head>
    <body >
        <header th:replace="layout/frontEnd :: header"></header>
        <main class="container-fluid">


            <table id="candidatos" class="table table-striped mt-3" >
                <thead>
                    <div class="d-flex flex-column">
                        <div class="d-flex mb-2">
                            <a class="btn btn-outline-primary" th:href="@{/candidatos}">Descargar base</a>
                            <a class="btn btn-outline-secondary" 
                               data-bs-toggle="modal" 
                               data-bs-target="#modalRegistrarWave">
                                Añadir wave
                            </a>
                        </div>
                    </div>

                    <tr>
                        <th>Id: </th>
                        <th>Nombre: </th>
                        <th>Correo: </th>
                        <th>Numero de contacto: </th>
                        <th>Tipo de documento: </th>
                        <th>Numero de documento: </th>
                        <th>Fecha de expedicion: </th>
                        <th>Wave: </th>
                        <th>Estado: </th>
                        <th>Black Listed: </th>
                        <th>Archivos: </th>
                        <th>Assistant: </th>
                        <th>Acciones: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${listaCandidatos == null}">
                        <td colspan="8">No hay candidatos</td>
                    </tr>
                    <tr th:each="lista : ${listaCandidatos}">
                        <td th:text="${lista.id}"></td>
                        <td th:text="${lista.nombre}"></td>
                        <td th:text="${lista.correo}"></td>
                        <td th:text="${lista.contacto}"></td>
                        <td th:text="${lista.tipoDoc}"></td>
                        <td th:text="${lista.doc}"></td>
                        <td th:text="${lista.fechaExpedicion}"></td>
                        <td>
                            <select value="${lista.wave.id}" name="wave" id="waveSelect_${lista.id}" class="form-control">
                                <option th:value="${lista.wave == null ? ' ' : lista.wave.id}" disabled selected th:text="${lista.wave == null ? 'Seleccionar wave' : lista.wave.nombre}"></option>

                                <option th:each="wave : ${listaWave}" th:value="${wave.id}" th:text="${wave.nombre}"></option>
                            </select>
                            <a href="#" class="btn btn-danger flex-fill mx-2" th:data-id="${lista.id}" onclick="asignarWave(this, 'waveSelect_${lista.id}')">Asignar Wave</a>

                        </td>


                        <td th:text="${lista.estado == true || lista.estado == null ? 'Activo' : 'Inactivo'}"
                            th:style="'background-color:' + ${lista.estado == true || lista.estado == null ? 'green' : 'red'}"></td>
                        
                        <td style="font-weight: bold;" th:text="${lista.blackListed == true || lista.blackListed == null ? 'BLACKLISTED' : 'NO'}"></td>


                        <td>
                            <span th:if="${lista.archivos == null}">No hay archivos seleccionados</span>
                            <span th:if="${lista.archivos != null}">
                                <ul>
                                    <li th:each="archivo : ${lista.archivos}" th:text="${archivo.fileName}"></li>
                                </ul>
                            </span>
                        </td>
                        <td>
                            <span th:if="${lista.equipo == null}">No hay asistentes asignados</span>
                            <span th:if="${lista.equipo != null}">
                                <ul>
                                    <li th:each="equipo : ${lista.equipo}" th:text="${equipo.usuario}"></li>
                                </ul>
                            </span>
                        </td>
                        <td>
                            <hr>
                                <div class="d-flex flex-column">
                                    <div class="d-flex mb-3"> <!-- Mayor margen inferior -->
                                        <a th:href="@{/listaCandidatos/{nombreCandidato}/descargar-archivos(nombreCandidato=${lista.nombre})}" class="btn btn-primary flex-fill mx-2">Descargar Archivos</a>
                                        <a href="#" class="btn btn-danger flex-fill mx-2" th:data-id="${lista.id}" onclick="eliminar(this)">Eliminar candidato</a>
                                        <a href="#" class="btn btn-outline-danger flex-fill mx-2" th:data-id="${lista.id}" onclick="cambiarBlackListed(this)">Cambia beto</a>
                                    </div>
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-warning flex-fill mx-2" th:data-id="${lista.id}" onclick="cambiarEstado(this)">Cambiar estado</a>
                                        <a href="#" class="btn btn-secondary flex-fill mx-2" th:data-id="${lista.id}" ><i class="fa-brands fa-square-whatsapp"></i></a>
                                        <a th:href="@{/formularios/editarCandidato/{id}(id=${lista.id})}" class="btn btn-success flex-fill mx-2">Editar candidato</a>
                                    </div>
                                </div>

                                <hr>
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table>



                                    </main>

                                    <div th:replace="~{'layout/frontEnd' :: modal}"></div>
                                    <footer th:replace="layout/frontEnd :: footer"></footer>

                                    <div th:replace="layout/frontEnd :: scripts">

                                    </div>
                                    <script th:inline="javascript">
                                        
                                        function EnviarMensajePredefinido(element){
                                            var id = element.getAttribute("data-id");
                                            
                                            
                                            
                                        }
                                        
                                        
                                        
                                        
                                        function cambiarBlackListed(element){
                                            var id = element.getAttribute("data-id");
                                            
                                            fetch(`/cambiarBlackListed/${id}`)
                                                    .then(response => {
                                                        if(response.ok){
                                                            return response.json();
                                                        }else{
                                                            throw new Error('Error al betar');
                                                        }
                                            })
                                                    .then(data =>{
                                                        var betar = data.clase;
                                                        var mensaje = data.mensaje;
                                                        if (betar === 'success') {
                                                            Swal.fire({
                                                                icon: "success",
                                                                title: "Éxito",
                                                                text: mensaje
                                                            }).then(() => {
                                                                setTimeout(() => {
                                                                    location.reload();
                                                                }, 0); // Espera 1 segundo antes de recargar
                                                            });
                                                        } else {
                                                            Swal.fire({
                                                                icon: "error",
                                                                title: "Error",
                                                                text: mensaje
                                                            });
                                                        }
                                            })
                                                    .catch(error =>{
                                                        console.error("Error:", error);
                                            });
                                        }
                                        
                                        
                                        
                                        function cambiarEstado(element) {
                                            var id = element.getAttribute("data-id");
                                            

                                            fetch(`/cambiarEstado/${id}`)
                                                    .then(response => {
                                                        if (response.ok) {
                                                            return response.json();
                                                        } else {
                                                            throw new Error('Error al cambiar estado');
                                                        }
                                                    })
                                                    .then(data => {
                                                        var estado = data.clase;
                                                        var mensaje = data.mensaje;

                                                        if (estado === 'success') {
                                                            Swal.fire({
                                                                icon: "success",
                                                                title: "Éxito",
                                                                text: mensaje
                                                            }).then(() => {
                                                                setTimeout(() => {
                                                                    location.reload();
                                                                }, 0); // Espera 1 segundo antes de recargar
                                                            });
                                                        } else {
                                                            Swal.fire({
                                                                icon: "error",
                                                                title: "Error",
                                                                text: mensaje
                                                            });
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                    });
                                        }

                                        function eliminar(element) {
                                            var id = element.getAttribute("data-id");

                                            fetch(`/eliminarCandidato/${id}`)
                                                    .then(response => {
                                                        if (response.ok) {
                                                            return response.json();
                                                        } else {
                                                            throw new Error('Error al eliminar');
                                                        }
                                                    })
                                                    .then(data => {
                                                        var estado = data.clase;
                                                        var mensaje = data.mensaje;

                                                        if (estado === 'success') {
                                                            Swal.fire({
                                                                icon: "success",
                                                                title: "Éxito",
                                                                text: mensaje
                                                            }).then(() => {
                                                                setTimeout(() => {
                                                                    location.reload();
                                                                }, 0); // Espera 1 segundo antes de recargar
                                                            });
                                                        } else {
                                                            Swal.fire({
                                                                icon: "error",
                                                                title: "Error",
                                                                text: mensaje
                                                            });
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                    });
                                        }
                                        function asignarWave(element, waveSelectId) {
                                            var id = element.getAttribute("data-id");
                                            var waveSelect = document.getElementById(waveSelectId);
                                            console.log("Candidate ID:", id);
                                            console.log("Wave Select Element:", waveSelect);
                                            console.log("Selected Wave Value:", waveSelect.value);
                                            if (waveSelect === null) {
                                                console.error('El select de wave no fue encontrado para el ID:', waveSelectId);
                                                return;
                                            }
                                           

                                            var selectedWave = waveSelect.value;


                                            if (!selectedWave || selectedWave === "none") {
                                                alert("Por favor, selecciona una wave antes de asignar.");
                                                return;
                                            }

                                            fetch(`/asignarWave/${id}?wave=${selectedWave}`, {
                                                method: 'GET',
                                                headers: {
                                                    'X-Requested-With': 'XMLHttpRequest',
                                                    [csrfHeader]: csrfToken, // Include the CSRF token in the request header
                                                    'Content-Type': 'application/json'
                                                }
                                            })
                                                    .then(response => {
                                                        if (response.ok) {
                                                            return response.json();
                                                        } else {
                                                            throw new Error(`HTTP error! Status: ${response.status}`);
                                                        }
                                                    })
                                                    .then(data => {
                                                        var estado = data.clase;
                                                        var mensaje = data.mensaje;
                                                        console.log(data);

                                                        if (estado === 'success') {
                                                            Swal.fire({
                                                                icon: "success",
                                                                title: "Éxito",
                                                                text: mensaje
                                                            }).then(() => {
                                                                location.reload();
                                                            });
                                                        } else {
                                                            Swal.fire({
                                                                icon: "error",
                                                                title: "Error",
                                                                text: mensaje
                                                            });
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error.toString());
                                                    });
                                        }






                                        const form = document.getElementById('registrarWaveForm');
                                        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
                                        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

                                        if (form) {
                                            form.addEventListener('submit', function (event) {
                                                event.preventDefault(); // Prevent the default form submission behavior

                                                const formData = new FormData(form);

                                                // Send the form data to the backend with CSRF token
                                                fetch('/registrarWave', {
                                                    method: 'POST',
                                                    body: formData,
                                                    headers: {
                                                        'X-Requested-With': 'XMLHttpRequest',
                                                        [csrfHeader]: csrfToken // Include the CSRF token in the request header
                                                    }
                                                })
                                                        .then(response => {
                                                            if (response.ok) {
                                                                return response.json(); // Parse the response as JSON
                                                            } else {
                                                                throw new Error('Error processing request');
                                                            }
                                                        })
                                                        .then(data => {
                                                            const mensajeWave = document.getElementById('mensajeWave');
                                                            const mensajeText = document.getElementById('mensajeText');

                                                            if (data.clase === 'success') {
                                                                mensajeWave.classList.remove('d-none', 'alert-danger');
                                                                mensajeWave.classList.add('alert-success');
                                                                mensajeText.textContent = data.mensaje;

                                                                setTimeout(() => {
                                                                    var modal = bootstrap.Modal.getInstance(document.getElementById('modalRegistrarWave'));
                                                                    modal.hide();
                                                                    location.reload();  // Reload the page
                                                                }, 2000);
                                                            } else {
                                                                mensajeWave.classList.remove('d-none', 'alert-success');
                                                                mensajeWave.classList.add('alert-danger');
                                                                mensajeText.textContent = data.mensaje;
                                                            }
                                                        })
                                                        .catch(error => {
                                                            console.error('Error:', error);
                                                            const mensajeWave = document.getElementById('mensajeWave');
                                                            const mensajeText = document.getElementById('mensajeText');
                                                            mensajeWave.classList.remove('d-none', 'alert-success');
                                                            mensajeWave.classList.add('alert-danger');
                                                            mensajeText.textContent = 'Error processing the request.';
                                                        });
                                            });
                                        }





                                        $(document).ready(function () {
                                            $('#candidatos').DataTable();
                                        }
                                        );






                                    </script>



                                    </body>
                                    </html>
